.idea
/android/.gradle
/android/local.properties
/android/build
/android/app/build
/android/app/src/main/assets/www/src
/android/app/src/main/assets/www/assets
/android/app/src/main/assets/www/external
/android/app/src/main/assets/www/index.html
/android/app/src/main/assets/www/favicon*
/android/app/release
/marketing/marketing.mp4

